streamlit~=1.41.1
google-generativeai
python-dotenv~=1.0.1
langchain~=0.3.14
langchain-core~=0.3.29
langchain-community~=0.3.14
langchain-google-genai~=2.0.8
PyPDF2~=3.0.1
pdfminer.six==20221105
faiss-cpu
google-cloud-aiplatform
unstructured[all]~=0.16.19
setuptools~=65.5.0
protobuf~=5.29.3
pillow~=10.4.0
filelock~=3.16.1
attrs~=24.2.0
typing_extensions~=4.12.2
packaging~=24.1
matplotlib~=3.10.0
pyparsing~=3.2.1
Jinja2~=3.1.4
emoji~=2.14.1
cryptography~=42.0.8
pillow-heif
pi-heif == 0.21.0
unstructured-inference
pdf2image
fitz
langchain_chroma
PyMuPDF~=1.25.3
fastapi~=0.115.11
google~=3.0.0
dotenv~=0.9.9
pydantic~=2.10.6